{% load static %}
<nav class="navbar navbar-expand-sm navbar-light nav-style">
    <a class="navbar-brand" href="#"><img height="64px"
                                          width="64px" src="{% static 'img/eventify_logo_rounded.png' %}"
                                          alt="Eventify"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavId">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'index' %}">Úvodní stránka <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="">Eventy</a>
            </li>
            <li>
                <a class="nav-link" href="">Kalendář</a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            {% if user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="user-profile" data-toggle="dropdown">
                        {{ user.get_username }}
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        {% if divider_rendered %}
                            <div class="dropdown-divider"></div>
                        {% endif %}
                        {% for group in user.groups.all %}
                            {% if group.name == "editor" or group.name == "admin"%}
                                <a class="dropdown-item" href="{% url 'event_manager' %}">Správa eventů</a>
                            {% endif %}
                            {% if group.name == "admin" %}
                                <a class="dropdown-item" href="{% url 'admin:index' %}">Administrace</a>
                            {% endif %}
                        {% endfor %}

                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="">Správa profilu</a>
                        <a class="dropdown-item" href="">Mé eventy</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="">Změnit heslo</a>
                        <a class="dropdown-item" href="{% url 'logout' %}">Odhlásit se </a>
                        <div class="dropdown-divider"></div>
                    </div>
                </li>
            {% else %}
                <li class="nav-item"><a href="{% url 'login' %}?next={{ request.path }}" class="nav-link">Přihlásit
                    se</a></li>
            {% endif %}
        </ul>
    </div>
</nav>