{% extends "base.html" %}
{% load static %}

{% block title %}Potvrzení objednávky{% endblock %}

{% block content %}
    <div class="container mx-auto px-4 py-8">
        <div class="bg-white shadow-xl rounded-lg p-8 mt-5">
            <h1 class="text-3xl font-bold text-center mb-10">Potvrzení objednávky</h1>
            <div id="progress" class="flex justify-center items-center">
                <ol class="flex w-full max-w-4xl justify-between items-center space-x-4">
                    <li class="flex-1">
                        <div class="flex flex-col items-center">
                            <a href="{% url 'cart' %}"
                               class="flex items-center justify-center w-8 h-8 bg-blue-600 rounded-full ring-8 ring-blue-300 dark:bg-cyan-700 dark:ring-cyan-900">
                                <svg class="w-4 h-4 text-white" xmlns="http://www.w3.org/2000/svg" fill="none"
                                     viewBox="0 0 16 12">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                          stroke-width="2" d="M1 5.917 5.724 10.5 15 1.5"/>
                                </svg>
                            </a>
                            <h3 class="mt-4 text-center font-medium text-blue-900 dark:text-cyan-600">Položky v
                                košíku</h3>
                        </div>
                    </li>

                    <li class="flex-1">
                        <div class="flex flex-col items-center">
                            <a href="{% url 'cart_informations' %}"
                               class="flex items-center justify-center w-8 h-8 bg-blue-600 rounded-full ring-8 ring-blue-300 dark:bg-cyan-700 dark:ring-cyan-900">
                                <svg class="w-4 h-4 text-white" xmlns="http://www.w3.org/2000/svg" fill="none"
                                     viewBox="0 0 16 12">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                          stroke-width="2" d="M1 5.917 5.724 10.5 15 1.5"/>
                                </svg>
                            </a>
                            <h3 class="mt-4 text-center font-medium text-blue-900 dark:text-cyan-600">Doručovací
                                údaje</h3>
                        </div>
                    </li>

                    <li class="flex-1">
                        <div class="flex flex-col items-center">
                            <a href="{% url 'cart_payment' %}"
                               class="flex items-center justify-center w-8 h-8 bg-blue-600 rounded-full ring-8 ring-blue-300 dark:bg-cyan-700 dark:ring-cyan-900">
                                <svg class="w-4 h-4 text-white" xmlns="http://www.w3.org/2000/svg" fill="none"
                                     viewBox="0 0 16 12">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                          stroke-width="2" d="M1 5.917 5.724 10.5 15 1.5"/>
                                </svg>
                            </a>
                            <h3 class="mt-4 text-center font-medium text-blue-900 dark:text-cyan-600">Platební
                                metoda</h3>
                        </div>
                    </li>

                    <li class="flex-1">
                        <div class="flex flex-col items-center">
                            <div class="flex items-center justify-center w-8 h-8 bg-yellow-500 rounded-full ring-8 ring-yellow-200 dark:bg-yellow-600 dark:ring-yellow-800">
                                <span class="text-white font-bold">4</span>
                            </div>
                            <h3 class="mt-4 text-center font-medium text-yellow-500 dark:text-yellow-400">Potvrzení
                                objednávky</h3>
                        </div>
                    </li>
                </ol>
            </div>
        </div>
        <div class="bg-white shadow-xl rounded-lg p-8 mt-5">
            <div id="address-card" class="w-full p-6 space-y-8">
                <div class="flex justify-between items-center">
                    <h2 class="text-2xl font-semibold text-gray-900">Potvrzení objednávky</h2>
                </div>

                <div class="p-4 bg-gray-50 border border-gray-200 rounded-lg">
                    <h3 class="text-lg font-medium text-gray-800 mb-4">Údaje uživatele</h3>
                    <div class="grid grid-cols-2 gap-4">
                        <p class="text-sm text-gray-600"><span
                                class="font-semibold text-gray-800">Jméno:</span> {{ user.first_name }} {{ user.last_name }}
                        </p>
                        <p class="text-sm text-gray-600"><span class="font-semibold text-gray-800">E-mail:</span>
                            {{ user.email }}</p>
                        <p class="text-sm text-gray-600"><span class="font-semibold text-gray-800">Telefon:</span> +420
                            {{ user.telephone }}</p>
                        <p class="text-sm text-gray-600"><span
                                class="font-semibold text-gray-800">Datum narození:</span>
                            {{ user.date_birth }}</p>
                    </div>
                </div>

                <div class="p-4 bg-gray-50 border border-gray-200 rounded-lg">
                    <h3 class="text-lg font-medium text-gray-800 mb-4">Adresa uživatele</h3>
                    <p class="text-sm text-gray-600"><span
                            class="font-semibold text-gray-800">Ulice:</span> {{ delivery_address.street }} {{ delivery_address.number }}
                    </p>
                    </p>
                    <p class="text-sm text-gray-600"><span
                            class="font-semibold text-gray-800">Město:</span> {{ delivery_address.city }}</p>
                    <p class="text-sm text-gray-600"><span
                            class="font-semibold text-gray-800">PSČ:</span> {{ delivery_address.postal_code }}</p>
                    <p class="text-sm text-gray-600"><span
                            class="font-semibold text-gray-800">Stát:</span> {{ delivery_address.country }}</p>
                </div>

                <div class="overflow-x-auto">
                    <h3 class="text-lg font-medium text-gray-800 mb-4">Přehled vstupenek</h3>
                    <table class="w-full text-sm text-left">
                        <thead class="bg-gray-200 text-gray-700 uppercase text-xs tracking-wide">
                        <tr>
                            <th class="px-4 py-3">Event</th>
                            <th class="px-4 py-3">Typ</th>
                            <th class="px-4 py-3">Počet</th>
                            <th class="px-4 py-3">Jedn. cena</th>
                            <th class="px-4 py-3">Celková cena</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for ticket in items %}
                            <tr class="bg-white border-b">
                                <td class="px-4 py-3">{{ ticket.event.name }}</td>
                                <td class="px-4 py-3 text-center">{{ ticket.ticket_type.name }}</td>
                                <td class="px-4 py-3">{{ ticket.quantity }}</td>
                                <td class="px-4 py-3 font-medium text-gray-800">{{ ticket.ticket_type.price }} Kč</td>
                                <td class="px-4 py-3 font-medium text-gray-800">{{ ticket.total_amount }} Kč</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                        <tfoot>
                        <tr class="bg-gray-100 text-gray-800">
                            <td colspan="4" class="px-4 py-3 text-right font-semibold">Celková cena:</td>
                            <td class="px-4 py-3 font-bold text-lg">{{ total_price }}</td>
                        </tr>
                        </tfoot>
                    </table>
                </div>

                <div class="flex justify-between mt-6">
                    <a href="{% url 'cart_payment' %}"
                       class="inline-flex items-center justify-center bg-gray-100 hover:bg-gray-200 text-gray-800 font-semibold py-2 px-6 border border-gray-300 rounded-lg shadow-sm transition-all duration-200">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
                             stroke="currentColor" class="w-5 h-5 mr-2">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                  d="M10.5 19.5L3 12m0 0l7.5-7.5M3 12h18"/>
                        </svg>
                        Zpět
                    </a>
                    <form action="{% url 'cart_confirmation' %}" method="POST">
                        {% csrf_token %}
                        <button class="inline-flex items-center justify-center bg-gray-500 hover:bg-gray-600 text-white font-semibold py-2 px-6 rounded-lg shadow-lg transition-all duration-200">
                            Zakoupit
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
                                 stroke="currentColor" class="w-5 h-5 ml-2">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                      d="M13.5 4.5L21 12m0 0l-7.5 7.5M21 12H3"/>
                            </svg>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
