{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container mx-auto px-4 py-8">
    <h2 class="text-3xl font-bold text-gray-800 mb-8 text-center">Tvůj košík</h2>
    
    <div class="overflow-x-auto">
        <table class="min-w-full bg-white border border-gray-300 rounded-lg shadow custom-table">
            <thead>
                <tr class="bg-gray-200 text-gray-600 uppercase text-sm tracking-wider">
                    <th class="py-3 px-4 text-left font-semibold">Event</th>
                    <th class="py-3 px-4 text-left font-semibold">Typ</th>
                    <th class="py-3 px-2 text-center font-semibold w-16">Počet</th>
                    <th class="py-3 px-4 text-right font-semibold whitespace-nowrap">Jednotková cena</th>
                    <th class="py-3 px-4 text-right font-semibold whitespace-nowrap">Celková cena</th>
                    <th class="py-3 px-4 text-center font-semibold">Akce</th>
                </tr>
            </thead>
            <tbody class="text-gray-800 text-sm">
                {% if items %}
                {% for item in items %}
                <tr class="border-b border-gray-200 hover:bg-gray-100 transition ease-in-out duration-100" id="{{ item.id }}">
                    <td class="py-4 px-4 text-left truncate event-cell" title="{{ item.event.name }}">{{ item.event.name }}</td>
                    <td class="py-4 px-4 text-left truncate type-cell" title="{{ item.ticket_type.name }}">{{ item.ticket_type.name }}</td>
                    <td class="py-4 px-2 text-center">{{ item.quantity }}</td>
                    <td class="py-4 px-4 text-right">{{ item.ticket_type.price }} Kč</td>
                    <td class="py-4 px-4 text-right font-semibold">{{ item.total_amount }} Kč</td>
                    <td class="py-4 px-4 text-center">
                        <form action="{% url 'remove_item' item.id %}" method="POST" style="display: inline;">
                            {% csrf_token %}
                            <button type="submit" class="text-red-500 hover:text-red-700">Odstranit</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            {% else %}
                    <tr class="border-b border-gray-200 hover:bg-gray-100 transition ease-in-out duration-100" id="NONE">
                        <td class="py-4 px-4 text-center truncate" title="No Tickets" colspan="6">Nemáte žádné vstupenky v košíku.</td>
                    </tr>
            {% endif %}  
            </tbody>
        </table>
    
        <div class="flex justify-between mt-16">
            <p class="font-semibold">Celková cena:</p>
            <p class="font-semibold">{{ total_price }} Kč</p>
        </div>

        <div class="flex justify-between mt-20">
    <div class="justify-start" style="margin-left: 0"> <!-- Zarovnání tlačítka doleva -->
        <form action="{% url 'clear_cart' %}" method="POST" style="display: inline;">
            {% csrf_token %}
            <button type="submit" class="text-gray-600 border border-gray-600 py-2 px-4 rounded hover:bg-gray-100">Vymazat košík</button>
        </form>
    </div>

    <button type="submit" form="checkout-form" class="bg-gray-600 text-white py-2 px-4 rounded hover:bg-gray-700">Koupit</button>
</div>
    </div>
</div>

<style>
    /* Přizpůsobení šířek sloupců */
    .custom-table .event-cell {
        max-width: 150px; /* Šířka pro Event */
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .custom-table .type-cell {
        max-width: 100px; /* Šířka pro Typ */
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .custom-table th.w-16, .custom-table td.w-16 {
        width: 50px; /* Nastavení šířky pro Počet */
    }
</style>
{% endblock %}
