{% extends "base.html" %}
{% load static %}

{% block title %}Údaje o nákupu{% endblock %}

{% block content %}

    <div class="container mx-auto px-4 py-8">
        <div class="bg-white shadow-xl rounded-lg p-8 mt-5">
            <h1 class="text-3xl font-bold text-center mb-10">Tvůj košík</h1>

            <div id="progress" class="flex justify-center items-center mb-8">
                <ol class="flex w-full max-w-4xl justify-between items-center space-x-4">
                    <li class="flex-1">
                        <div class="flex flex-col items-center">
                            <a href="{% url 'cart' %}"
                               class="flex items-center justify-center w-8 h-8 bg-blue-600 rounded-full ring-8 ring-blue-300 dark:bg-cyan-700 dark:ring-cyan-900">
                                <svg class="w-4 h-4 text-white" xmlns="http://www.w3.org/2000/svg" fill="none"
                                     viewBox="0 0 16 12">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                          stroke-width="2" d="M1 5.917 5.724 10.5 15 1.5"/>
                                </svg>
                            </a>
                            <h3 class="mt-4 text-center font-medium text-blue-900 dark:text-cyan-600">Položky v
                                košíku</h3>
                        </div>
                    </li>
                    <li class="flex-1">
                        <div class="flex flex-col items-center">
                            <div class="flex items-center justify-center w-8 h-8 bg-yellow-500 rounded-full ring-8 ring-yellow-200 dark:bg-yellow-600 dark:ring-yellow-800">
                                <span class="text-white font-bold">2</span>
                            </div>
                            <h3 class="mt-4 text-center font-medium text-yellow-900 dark:text-yellow-600">Doručovací
                                údaje</h3>
                        </div>
                    </li>
                    <li class="flex-1">
                        <div class="flex flex-col items-center">
                            <div class="flex items-center justify-center w-8 h-8 bg-gray-200 rounded-full ring-8 ring-gray-300 dark:bg-gray-700 dark:ring-gray-900">
                                <span class="text-gray-500 dark:text-gray-400 font-bold">3</span>
                            </div>
                            <h3 class="mt-4 text-center font-medium text-gray-500 dark:text-gray-400">Platební
                                metoda</h3>
                        </div>
                    </li>
                    <li class="flex-1">
                        <div class="flex flex-col items-center">
                            <div class="flex items-center justify-center w-8 h-8 bg-gray-200 rounded-full ring-8 ring-gray-300 dark:bg-gray-700 dark:ring-gray-900">
                                <span class="text-gray-500 dark:text-gray-400 font-bold">4</span>
                            </div>
                            <h3 class="mt-4 text-center font-medium text-gray-500 dark:text-gray-400">Potvrzení
                                objednávky</h3>
                        </div>
                    </li>
                </ol>
            </div>
        </div>
        <div class="bg-white shadow-xl rounded-lg p-8 mt-5">
            {% if messages and new_message %}
                {% include 'snippets/message.html' %}
            {% endif %}

            {% if delivery_address %}
                <div id="address-card"
                     class="w-full bg-white border border-gray-200 rounded-lg shadow-lg p-8 flex flex-col md:flex-row items-center">
                    <div class="w-full md:w-1/3 flex flex-col items-center">
                        {% if has_picture %}
                            <img class="w-full h-auto object-cover rounded-lg shadow-md" src="{{ profile_picture }}"
                                 alt="user photo">
                        {% elif user.image %}
                            <img class="w-full h-auto object-cover rounded-lg shadow-md" src="{{ user.image.url }}"
                                 alt="user photo">
                        {% else %}
                            <img class="w-full h-auto object-cover rounded-lg shadow-md"
                                 src="{% static 'img/default_profile.jpg' %}" alt="user photo">
                        {% endif %}
                    </div>

                    <div class="w-px bg-gray-300 mx-8 h-auto self-stretch"></div>

                    <div class="w-full relative h-auto flex-grow">
                        <div class="flex justify-between items-center p-4">
                            <div>
                                <h5 class="text-2xl font-semibold text-gray-900">{{ user.first_name }} {{ user.last_name }}</h5>
                                <p class="text-gray-500 mt-2">{{ user.email }}</p>
                                <p class="text-gray-500 mt-1">{{ user.telephone }}</p>
                                <p class="text-gray-500 mt-1">{{ user.date_birth }}</p>
                                <div class="mt-4">
                                    <h6 class="text-lg font-medium text-gray-900">Adresa:</h6>
                                    <p class="text-gray-500 mt-2">
                                        {{ delivery_address.street }} {{ delivery_address.number }},
                                        {{ delivery_address.city }} {{ delivery_address.postal_code }}
                                    </p>
                                </div>
                            </div>
                        </div>
                        <button onclick="toggleForm()"
                                class="absolute top-4 right-4 text-blue-600 hover:text-blue-600">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
                                 stroke="currentColor" class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                      d="M16.862 3.487a2.25 2.25 0 013.182 3.182L6.75 19.965l-4.5.75.75-4.5L16.862 3.487z"/>
                            </svg>
                        </button>

                        <div class="flex justify-between mt-6">
                            <a href="{% url 'cart' %}"
                               class="inline-flex items-center justify-center bg-gray-100 hover:bg-gray-200 text-gray-800 font-semibold py-2 px-6 border border-gray-300 rounded-lg shadow-sm transition-all duration-200">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
                                     stroke="currentColor" class="w-5 h-5 mr-2">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                          d="M10.5 19.5L3 12m0 0l7.5-7.5M3 12h18"/>
                                </svg>
                                Zpět
                            </a>
                            <a href="{% url 'cart_payment' %}"
                               class="inline-flex items-center justify-center bg-gray-500 hover:bg-gray-600 text-white font-semibold py-2 px-6 rounded-lg shadow-lg transition-all duration-200">
                                Pokračovat k platbě
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
                                     stroke="currentColor" class="w-5 h-5 ml-2">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                          d="M13.5 4.5L21 12m0 0l-7.5 7.5M21 12H3"/>
                                </svg>
                            </a>
                        </div>

                    </div>
                </div>

                <div id="edit-address-form" class="hidden w-full p-8">
                    {% include 'snippets/cart/edit_address_form.html' %}
                </div>
            {% else %}
                <div id="edit-address-form"
                     class="w-full p-8">
                    {% include 'snippets/cart/edit_address_form.html' %}
                </div>
            {% endif %}
        </div>
    </div>

    <script>
        function toggleForm() {
            var form = document.getElementById('edit-address-form');
            var card = document.getElementById('address-card');
            form.classList.toggle('hidden');
            card.classList.toggle('hidden');
        }
    </script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script>
        $(document).ready(function () {
            $("input[name='country']").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: "https://restcountries.com/v3.1/all",
                        dataType: "json",
                        success: function (data) {
                            var filteredCountries = data.filter(function (country) {
                                var nameInCzech = country.translations && country.translations.ces ? country.translations.ces.common : null;
                                var nameInEnglish = country.name.common;

                                return (nameInCzech && nameInCzech.toLowerCase().startsWith(request.term.toLowerCase())) ||
                                    (nameInEnglish && nameInEnglish.toLowerCase().startsWith(request.term.toLowerCase()));
                            });

                            var countries = filteredCountries.map(function (item) {
                                var nameInCzech = item.translations && item.translations.ces ? item.translations.ces.common : item.name.common;
                                return nameInCzech;
                            });

                            response(countries);
                        },
                        error: function (xhr, status, error) {
                            console.error("Chyba při načítání dat:", status, error);
                        }
                    });
                }
            });
        });
    </script>
    <style>
        input {
            background-color: #f7f8fa;
            border: 1px solid #d1d5db;
            border-radius: 8px;
            padding: 12px;
            color: #4a5568;
            box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
            transition: border-color 0.2s ease-in-out;
        }

        input:focus {
            border-color: #5a67d8;
            outline: none;
        }
    </style>

{% endblock %}
