{% extends "base.html" %}
{% load static %}

{% block title %}Platební údaje{% endblock %}

{% block content %}
    <div class="container mx-auto px-4 py-8">
        <div class="bg-white shadow-xl rounded-lg p-8 mt-5">
            <!-- Title -->
            <h1 class="text-3xl font-bold text-center mb-10">Tvůj košík</h1>

            <div id="progress" class="flex justify-center items-center">
                <ol class="flex w-full max-w-4xl justify-between items-center space-x-4">
                    <li class="flex-1">
                        <div class="flex flex-col items-center">
                            <a href="{% url 'cart' %}"
                               class="flex items-center justify-center w-8 h-8 bg-blue-600 rounded-full ring-8 ring-blue-300 dark:bg-cyan-700 dark:ring-cyan-900">
                                <svg class="w-4 h-4 text-white" xmlns="http://www.w3.org/2000/svg" fill="none"
                                     viewBox="0 0 16 12">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                          stroke-width="2" d="M1 5.917 5.724 10.5 15 1.5"/>
                                </svg>
                            </a>
                            <h3 class="mt-4 text-center font-medium text-blue-900 dark:text-cyan-600">Položky v
                                košíku</h3>
                        </div>
                    </li>

                    <li class="flex-1">
                        <div class="flex flex-col items-center">
                            <a href="{% url 'cart_informations' %}"
                               class="flex items-center justify-center w-8 h-8 bg-blue-600 rounded-full ring-8 ring-blue-300 dark:bg-cyan-700 dark:ring-cyan-900">
                                <svg class="w-4 h-4 text-white" xmlns="http://www.w3.org/2000/svg" fill="none"
                                     viewBox="0 0 16 12">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                          stroke-width="2" d="M1 5.917 5.724 10.5 15 1.5"/>
                                </svg>
                            </a>
                            <h3 class="mt-4 text-center font-medium text-blue-900 dark:text-cyan-600">Doručovací
                                údaje</h3>
                        </div>
                    </li>

                    <li class="flex-1">
                        <div class="flex flex-col items-center">
                            <div class="flex items-center justify-center w-8 h-8 bg-yellow-500 rounded-full ring-8 ring-yellow-200 dark:bg-yellow-600 dark:ring-yellow-800">
                                <span class="text-white font-bold">3</span>
                            </div>
                            <h3 class="mt-4 text-center font-medium text-yellow-900 dark:text-yellow-600">Platební
                                metoda</h3>
                        </div>
                    </li>

                    <li class="flex-1">
                        <div class="flex flex-col items-center">
                            <div class="flex items-center justify-center w-8 h-8 bg-gray-200 rounded-full ring-8 ring-gray-300 dark:bg-gray-700 dark:ring-gray-900">
                                <span class="text-gray-500 dark:text-gray-400 font-bold">4</span>
                            </div>
                            <h3 class="mt-4 text-center font-medium text-gray-500 dark:text-gray-400">Potvrzení
                                objednávky</h3>
                        </div>
                    </li>
                </ol>
            </div>
        </div>

        <!-- Main Content Section -->
        <div class="bg-white shadow-xl rounded-lg p-8 mt-5">
            {% if messages and new_message %}
                {% include 'snippets/message.html' %}
            {% endif %}
            {% if payment_method %}
                <!-- Display Payment Card -->
                <div id="payment-card"
                     class="w-full bg-white border border-gray-200 rounded-lg shadow-lg p-8 flex flex-col md:flex-row items-center">
                    <!-- Levá část: Fotka uživatele -->
                    <div class="w-full md:w-1/3 flex flex-col items-center">
                        {% if has_picture %}
                            <img class="w-full h-auto object-cover rounded-lg shadow-md" src="{{ profile_picture }}"
                                 alt="user photo">
                        {% elif user.image %}
                            <img class="w-full h-auto object-cover rounded-lg shadow-md" src="{{ user.image.url }}"
                                 alt="user photo">
                        {% else %}
                            <img class="w-full h-auto object-cover rounded-lg shadow-md"
                                 src="{% static 'img/default_profile.jpg' %}" alt="user photo">
                        {% endif %}
                    </div>

                    <!-- Vertikální divider s automatickou výškou -->
                    <div class="w-px bg-gray-300 mx-8 h-auto self-stretch"></div>


                    <!-- Pravá část: Údaje uživatele -->
                    <div class="w-full relative h-auto flex-grow">
                        <div class="flex justify-between items-center p-4">
                            <!-- Údaje uživatele -->
                            <div>
                                <h5 class="text-2xl font-semibold text-gray-900">{{ payment_method.name_on_card }}</h5>
                                <p class="text-gray-500 mt-2">Číslo karty: {{ payment_method.card_number }}</p>
                                <p class="text-gray-500 mt-1">CVV: {{ payment_method.cvv }}</p>
                                <p class="text-gray-500 mt-1">Datum expirace: {{ payment_method.expiration_date }}</p>
                            </div>
                        </div>
                        <button onclick="toggleForm()"
                                class="absolute top-4 right-4 text-blue-600 hover:text-blue-600">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
                                 stroke="currentColor" class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                      d="M16.862 3.487a2.25 2.25 0 013.182 3.182L6.75 19.965l-4.5.75.75-4.5L16.862 3.487z"/>
                            </svg>
                        </button>


                        <!-- Akční tlačítka -->
                        <div class="flex justify-between mt-6">
                            <a href="{% url 'cart' %}"
                               class="inline-flex items-center justify-center bg-gray-100 hover:bg-gray-200 text-gray-800 font-semibold py-2 px-6 border border-gray-300 rounded-lg shadow-sm transition-all duration-200">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
                                     stroke="currentColor" class="w-5 h-5 mr-2">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                          d="M10.5 19.5L3 12m0 0l7.5-7.5M3 12h18"/>
                                </svg>
                                Zpět
                            </a>
                            <a href="{% url 'cart_confirmation' %}"
                               class="inline-flex items-center justify-center bg-gray-500 hover:bg-gray-600 text-white font-semibold py-2 px-6 rounded-lg shadow-lg transition-all duration-200">
                                Pokračovat k potvrzení
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
                                     stroke="currentColor" class="w-5 h-5 ml-2">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                          d="M13.5 4.5L21 12m0 0l-7.5 7.5M21 12H3"/>
                                </svg>
                            </a>
                        </div>

                    </div>
                </div>

                <!-- Edit Address Form (Initially Hidden) -->
                <div id="edit-payment-form" class="hidden w-full p-8">
                    {% include 'snippets/cart/edit_payment_form.html' %}
                </div>
            {% else %}
                <div id="edit-payment-form" class="w-full p-8">
                    {% include 'snippets/cart/edit_payment_form.html' %}
                </div>
            {% endif %}
        </div>
    </div>

    <script>
        // Toggle the form visibility
        function toggleForm() {
            var form = document.getElementById('edit-payment-form');
            var card = document.getElementById('payment-card');
            form.classList.toggle('hidden');
            card.classList.toggle('hidden');
        }
    </script>
    <style>
    input, .expiration_date div {
        background-color: #f7f8fa;
        border: 1px solid #d1d5db;
        border-radius: 8px;
        padding: 12px;
        color: #4a5568;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        transition: border-color 0.2s ease-in-out;
    }

    input:focus, .expiration_date:focus div {
        border-color: #5a67d8;
        outline: none;
    }
    .expiration_date input {
        height: 100%;
        margin: 0;
        padding: 0;
        border: none;
        text-align: center;
        color: #000;
        box-shadow: none;
    }

    .expiration_date span {
        margin: 0 4px;
    }
</style>
{% endblock %}
