
.nav-style {
    background-color: #00988c;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    color: white;
}

.nav-style > a {
    margin-left: 10%;
    color: white;
}

.nav-link {
    color: white !important;
}

.dropdown-item {
    color: white !important; /* bílá barva textu */
}

.active .nav-link {
    text-decoration: underline;
    text-underline-position: under;
}

.navbar-right {
    border: 5px solid #005049;
    background-color: #005049;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 60px
}

.dropdown-item {
    color: #3f3f3f !important;
}