* {
    max-width: 100vw; /* 100% šířky okna prohlížeče */
    margin: 0 auto; /* zarovnání na střed */
}
footer {
    margin-top: 2%;
    position: relative;
    bottom: 0;
    width: 100%;
}

.welcome-section {
    background-image: url("../img/eventify_wallpaper.jpg");
    background-size: cover;
    background-position: center;
    height: 500px; /* nastavte výšku dle potřeby */
    position: relative; /* zajistí umístění absolutního divu vůči tomuto */
}

.welcome-section-overlay {
    background-color: rgba(0, 0, 0, 0.5); /* 60% šedá s průhledností */
    position: absolute; /* umístění nad pozadím */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.welcome-card {
    margin-top: 5%;
}

.welcome-heading {
    color: #ffffff;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 70px;
}

.eventify-text {
    color: rgba(0, 210, 198, 1);
}

.welcome-description {
    color: #fff;
    font-family: "Big Shoulders Display", sans-serif;
    font-style: normal;
    font-size: 20px;
    max-width: 70%;
}

.gradient-overlay {
    background: linear-gradient(
            180deg,
            rgba(255, 255, 255, 0) 0.12%,
            rgba(255, 255, 255, 0.28) 23.07%,
            rgba(255, 255, 255, 0.5) 31.05%,
            rgba(255, 255, 255, 0.9) 57.48%,
            #fff 72.44%,
            #fff 99.88%
    );
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
    z-index: 10;
}

@media (max-width: 991px) {
    .welcome-heading {
        font-size: 40px;
    }

    .welcome-description {
        font-size: 20px;
    }

    .gradient-overlay {
        height: 60px;
    }
}

.events-title-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 10px;
}

.events-title {
    position: relative;
    color: #000000;
    font-family: 'Bebas Neue', sans-serif;
    padding-bottom: 10px;
    display: inline-block;
    text-align: center;
}

.events-title::after {
    content: '';
    position: absolute;
    left: 10%; /* Odsazení zleva */
    bottom: 0; /* Podtržení na spodním okraji textu */
    width: 80%; /* Nastavení šířky podtržení */
    height: 2px; /* Výška podtržení */
    background-color: #00A79D; /* Barva podtržení */
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}

.table-wrapper {
    overflow-x: auto; /* horizontální posuvník pro případ, že tabulka překročí šířku obrazovky */
}

table {
    width: 100%; /* tabulka bude mít šířku 100% */
    border-collapse: collapse;
    table-layout: fixed; /* Pevná šířka tabulky */
}

th:first-child,
td:first-child {
    width: 10%;
}

th:nth-child(2),
td:nth-child(2) {
    width: 30%;
}

th:nth-child(3),
td:nth-child(3) {
    width: 30%;
}

th:nth-child(4),
td:nth-child(4) {
    width: 20%;
}

th:nth-child(5),
td:nth-child(5) {
    width: 8%;
}

th:last-child,
td:last-child {
    width: 8%;
}

th, td {
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    word-wrap: break-word; /* Zalomení slov v buňkách */
}

tr:hover {
    background-color: #f5f5f5;
}

.event-data {
    width: 100%; /* Zabere celou šířku buňky */
    white-space: nowrap; /* zabráníme zalamování textu na nový řádek */
    overflow: hidden; /* skryjeme text, který překračuje šířku buňky */
    text-overflow: ellipsis; /* přidáme třešničku na dortu - zkrácený text bude ukončen třešničkou */
}

/* Buttons */
.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

.btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
}

.btn-secondary:hover {
    background-color: #5a6268;
    border-color: #545b62;
}

/* Alerts */
.alert {
    margin-bottom: 20px;
}

/* Task Detail Page */
.card {
    margin-top: 30px;
}

.card-title {
    font-size: 2rem;
    margin-bottom: 20px;
}

.card-text {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.badge-success {
    background-color: #28a745;
}

.badge-danger {
    background-color: #dc3545;
}

.user-data {
    width: 100%; /* Tabulka bude mít šířku 100% */
    table-layout: fixed; /* Pevná šířka tabulky */
    border-collapse: collapse; /* Sloučení okrajů buněk */
}

.user-data th,
.user-data td {
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    white-space: nowrap; /* Zabráníme zalamování textu na nový řádek */
    overflow: hidden; /* Skryjeme text, který překračuje šířku buňky */
    text-overflow: ellipsis; /* Přidáme třešničku na dortu - zkrácený text bude ukončen třešničkou */
}

.user-data th:first-child,
.user-data td:first-child {
    width: 10%;
}

.user-data th:nth-child(2),
.user-data td:nth-child(2) {
    width: 40%;
}

.user-data th:nth-child(3),
.user-data td:nth-child(3) {
    width: 30%;
}

.user-data th:last-child,
.user-data td:last-child {
    width: 20%;
}

.user-data tr:hover {
    background-color: #f5f5f5;
}
