{% extends "base.html" %}
{% load widget_tweaks %}

{% block title %}Upravení eventu {{ event.name }}{% endblock %}

{% block content %}
    <div class="container mx-auto my-8">
        <form enctype="multipart/form-data" class="bg-white shadow-md rounded-lg p-8" method="POST" id="event_form">
            {% csrf_token %}
            <h1 class="text-3xl font-bold text-center mb-8">Upravit event {{ event.name }}</h1>

            <!-- Hlavní formulář pro Event -->
            <div class="mb-8">
                {% for field in form %}
                    <div class="mb-4">
                        {% if field.name == 'category' %}
                            <div class="mb-4">
                                <label for="category" class="block text-sm font-medium text-gray-700 mb-2">
                                    {{ field.label }}
                                </label>
                                {% if field.field.required %}
                                    <span class="text-red-500 font-semibold">*</span>
                                {% endif %}

                                <!-- Custom dropdown -->
                                <div class="relative">
                                    <button type="button" id="categoryDropdown"
                                            class="w-full p-3 border border-gray-300 rounded-lg text-gray-600 bg-white focus:outline-none focus:ring-2 focus:ring-blue-500">
                                        Vyberte kategorii
                                        <span class="ml-2">&#9662;</span>
                                    </button>
                                    <div id="categoryOptions"
                                         class="absolute hidden w-full bg-white border border-gray-300 rounded-lg shadow-lg mt-1 z-10">
                                        {% for value, label in categories %}
                                            <a href="#" class="block px-3 py-2 text-gray-700 hover:bg-gray-100"
                                               data-value="{{ value }}">
                                                {{ label }}
                                            </a>
                                        {% endfor %}
                                    </div>
                                </div>

                                <!-- Hidden input to store the selected category value -->
                                <input type="hidden" id="category" name="category" value="{{ form.category.value }}">

                                {% if field.help_text %}
                                    <small class="text-gray-500">{{ field.help_text }}</small>
                                {% endif %}

                                {% for error in field.errors %}
                                    <p class="text-red-500 text-sm mt-1">{{ error }}</p>
                                {% endfor %}
                            </div>
                        {% else %}

                            <label class="block text-sm font-medium text-gray-700 mb-1">{{ field.label }}</label>
                            {% if field.field.required %}
                                <span class="text-red-500 font-semibold">*</span>
                            {% endif %}
                            {% if field.name == 'day' %}
                                <input type="date" name="{{ field.name }}" value="{{ form.instance.day|date:'Y-m-d' }}"
                                       class="w-full p-2 border border-gray-300 rounded-lg focus:outline-none focus:ring focus:ring-blue-300">
                            {% elif field.name == 'image' %}
                                {% if form.instance.image %}
                                    <!-- Pokud již obrázek existuje, zobrazíme náhled -->
                                    <div class="mb-4">
                                        <img src="{{ form.instance.image.url }}" alt="Obrázek"
                                             class="w-full h-auto max-w-md mx-auto mb-4">
                                    </div>
                                {% endif %}
                                <!-- Formulář pro nahrání nového obrázku -->
                                <input type="file" name="{{ field.name }}"
                                       class="w-full p-2 border border-gray-300 rounded-lg focus:outline-none focus:ring focus:ring-blue-300">
                            {% else %}
                                {{ field|add_class:"w-full p-2 border border-gray-300 rounded-lg focus:outline-none focus:ring focus:ring-blue-300" }}
                            {% endif %}
                            {% if field.help_text %}
                                <small class="text-gray-500">{{ field.help_text }}</small>
                            {% endif %}
                            {% for error in field.errors %}
                                <p class="text-red-500 text-sm mt-1">{{ error }}</p>
                            {% endfor %}
                        {% endif %}
                    </div>
                {% endfor %}
            </div>

            <!-- Formulář pro adresu eventu -->
            <div class="mb-8">
                <h2 class="text-2xl font-semibold text-gray-800 mb-4">Adresa eventu</h2>
                <div class="mb-4">
                    {% for field in event_address_form %}
                        <div class="mb-4">
                            <label class="block text-sm font-medium text-gray-700 mb-1">{{ field.label }}</label>
                            {% if field.field.required %}
                                <span class="text-red-500 font-semibold">*</span>
                            {% endif %}
                            {{ field|add_class:"w-full p-2 border border-gray-300 rounded-lg focus:outline-none focus:ring focus:ring-blue-300" }}
                            {% if field.help_text %}
                                <small class="text-gray-500">{{ field.help_text }}</small>
                            {% endif %}
                            {% for error in field.errors %}
                                <p class="text-red-500 text-sm mt-1">{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="mt-6">
                <button type="submit"
                        class="w-full py-3 px-6 bg-blue-600 text-white rounded-lg hover:bg-blue-500 focus:outline-none focus:ring focus:ring-blue-300">
                    Uložit
                </button>
            </div>
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>

    <script>
        $(document).ready(function () {
            $('#add-ticket_types-button').click(function (ev) {
                ev.preventDefault();
                var count = $('#item-ticket_types').children().length;
                var tmplMarkup = $('#ticket_types-template').html();
                var compiledTmpl = tmplMarkup.replace(/__prefix__/g, count);
                $('#item-ticket_types').append(compiledTmpl);
                $('#id_ticket_types-TOTAL_FORMS').attr('value', count + 1);
            });

            // Odstranění řádku
            $(document).on('click', '.remove-ticket_type', function () {
                $(this).closest('tr').remove();
                var totalForms = $('#id_ticket_types-TOTAL_FORMS').val();
                $('#id_ticket_types-TOTAL_FORMS').val(totalForms - 1);
            });
        });
        $(document).ready(function () {
            // Dropdown toggle
            $('#categoryDropdown').click(function () {
                $('#categoryOptions').toggleClass('hidden');
            });

            $(document).click(function (e) {
                if (!$(e.target).closest('#categoryDropdown').length) {
                    $('#categoryOptions').addClass('hidden');
                }
            });

            $('#categoryOptions a').click(function (e) {
                e.preventDefault();
                var selectedValue = $(this).data('value');
                $('#categoryDropdown').text($(this).text());  // Update button text
                $('#category').val(selectedValue);  // Update hidden input value
            });
        });

    </script>
{% endblock %}
