{% extends 'base.html' %}

{% block title %}Smazání událost {{ event.name }}{% endblock %}

{% block content %}
    <div class="container mx-auto my-8">
        <form method="post" class="bg-white shadow-md rounded-lg p-8">
            <h1 class="text-3xl font-bold text-center mb-8">Smazat událost: {{ event.name }}</h1>
            <p class="mb-4">Opravdu chcete smazat událost "<strong>{{ event.name }}</strong>"?</p>
            {% csrf_token %}
            <div class="flex gap-4 mt-6">
                <button type="submit" class="w-2/4 bg-red-600 text-white py-2 px-4 rounded hover:bg-red-700">Ano
                </button>
                <a href="{% url 'event_manager' %}"
                   class="w-2/4 text-center bg-gray-300 text-gray-700 py-2 px-4 rounded hover:bg-gray-400">Ne</a>
            </div>
        </form>
    </div>
{% endblock %}
