{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <div class="col-lg-8 mt-3 mb-3">
            <h1>Vítejte v aplikaci Eventify</h1>
            <p class="lead">Eventify je aplikace pro správu událostí. Pomocí této aplikace můžete vytvářet, upravovat a mazat události. Také můžete prohlížet detaily jednotlivých událostí a zobrazovat je na mapě.</p>
            <p class="lead">Pro využití aplikace se musíte přihlásit. Pokud ještě nemáte účet, můžete se zaregistrovat.</p>
            <p class="lead">Pokud jste se již registrovali, můžete se přihlásit.</p>
        </div>
        <div class="col-lg-4 bg-light mt-3 mb-3">
        </div>
    </div>
{% endblock %}