{% extends 'base.html' %}
{% load static %}

{% block content %}

    {% if user.is_authenticated %}
        {% for group in user.groups.all %}
            {% if group.name == "editor" or group.name == "admin" %}
                <div class="container mx-auto mt-5">
                    <div class="text-center my-6">
                        <h2 class="text-2xl font-semibold">Události organizace {{ user.organization.name }}</h2>
                    </div>
                    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
                        {% if organization_events %}
                            {% for organization_event in organization_events %}
                                <div class="bg-white rounded-lg shadow-md overflow-hidden flex flex-col h-auto">
                                    {% if organization_event.image %}
                                        <div class="relative w-full h-48">
                                            <img src="{{ organization_event.image.url }}"
                                                 class="w-full h-full object-cover"
                                                 alt="{{ organization_event.name }}">
                                            <div class="absolute top-2 left-2 px-3 py-1 text-white font-semibold rounded-md"
                                                 style="background-color:
                                                         {% if organization_event.category == 'conference' %} #4CFFCC
                                                         {% elif organization_event.category == 'festival' %} #FF5733
                                                         {% elif organization_event.category == 'workshop' %} #FF8C00
                                                         {% elif organization_event.category == 'sport' %} #1E90FF
                                                         {% elif organization_event.category == 'social' %} #FFD700
                                                         {% elif organization_event.category == 'exhibition' %} #8A2BE2
                                                         {% elif organization_event.category == 'concert' %} #FF1493
                                                         {% elif organization_event.category == 'online' %} #32CD32
                                                         {% elif organization_event.category == 'local' %} #FF6347
                                                         {% else %} gray {% endif %}
                                                         ">
                                                {{ organization_event.get_category_display }}
                                            </div>
                                        </div>
                                    {% else %}
                                        <div class="relative w-full h-48 bg-gray-200">
                                            <img src="{% static 'img/static.jpg' %}" class="w-full h-full object-cover"
                                                 alt="{{ organization_event.name }}">
                                            <div class="absolute top-2 left-2 px-3 py-1 text-white font-semibold rounded-md"
                                                 style="background-color:
                                                         {% if organization_event.category == 'conference' %} #4CFFCC
                                                         {% elif organization_event.category == 'festival' %} #FF5733
                                                         {% elif organization_event.category == 'workshop' %} #FF8C00
                                                         {% elif organization_event.category == 'sport' %} #1E90FF
                                                         {% elif organization_event.category == 'social' %} #FFD700
                                                         {% elif organization_event.category == 'exhibition' %} #8A2BE2
                                                         {% elif organization_event.category == 'concert' %} #FF1493
                                                         {% elif organization_event.category == 'online' %} #32CD32
                                                         {% elif organization_event.category == 'local' %} #FF6347
                                                         {% else %} gray {% endif %}
                                                         ">
                                                {{ organization_event.get_category_display }}
                                            </div>
                                        </div>
                                    {% endif %}

                                    <div class="p-4 flex-1 flex flex-col">
                                        <h5 class="font-bold text-lg line-clamp-2 h-[48px] flex-shrink-0">{{ organization_event.name }}</h5>
                                        <p class="text-gray-700 text-sm mt-2 line-clamp-3 flex-grow">{{ organization_event.description }}</p>
                                        {% if organization_event.eventaddress_set.exists %}
                                            <p class="text-gray-600 text-sm mt-1">
                                                Adresa: {{ organization_event.eventaddress_set.first }}
                                            </p>
                                        {% else %}
                                            <p class="text-gray-600 text-sm mt-1">Adresa není k dispozici.</p>
                                        {% endif %}
                                        <p class="text-gray-700 text-sm mt-2 line-clamp-4">{{ organization_event.day }} {{ organization_event.time }}</p>
                                    </div>

                                    <div class="p-4 bg-gray-100 mt-auto w-full">
                                        <a href="{% url 'event_detail' organization_event.id %}"
                                           class="text-indigo-500 font-medium block text-center">Detail události</a>
                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}
                            <div class="col-span-1 lg:col-span-4 text-center">
                                <div class="bg-white p-6 rounded-lg shadow-md">
                                    <h5 class="text-gray-700">Není registrován na žádném eventu </h5>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% else %}
                <div class="container mx-auto mt-5">
                    <div class="text-center my-6">
                        <h2 class="text-2xl font-semibold">Moje události</h2>
                    </div>
                    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
                        {% if registered_events %}
                            {% for registration in registered_events %}
                                <div class="bg-white rounded-lg shadow-md overflow-hidden flex flex-col h-auto">
                                    {% if registration.event.image %}
                                        <div class="relative w-full h-48">
                                            <img src="{{ registration.event.image.url }}" class="w-full h-full object-cover"
                                                 alt="{{ registration.event.name }}">
                                            <div class="absolute top-2 left-2 px-3 py-1 text-white font-semibold rounded-md"
                                                 style="background-color:
                                                         {% if registration.event.category == 'conference' %} #4CFFCC
                                                         {% elif registration.event.category == 'festival' %} #FF5733
                                                         {% elif registration.event.category == 'workshop' %} #FF8C00
                                                         {% elif registration.event.category == 'sport' %} #1E90FF
                                                         {% elif registration.event.category == 'social' %} #FFD700
                                                         {% elif registration.event.category == 'exhibition' %} #8A2BE2
                                                         {% elif registration.event.category == 'concert' %} #FF1493
                                                         {% elif registration.event.category == 'online' %} #32CD32
                                                         {% elif registration.event.category == 'local' %} #FF6347
                                                         {% else %} gray {% endif %}
                                                         ">
                                                {{ registration.event.get_category_display }}
                                            </div>
                                        </div>
                                    {% else %}
                                        <div class="relative w-full h-48 bg-gray-200">
                                            <img src="{% static 'img/static.jpg' %}" class="w-full h-full object-cover"
                                                 alt="{{ registration.event.name }}">
                                            <div class="absolute top-2 left-2 px-3 py-1 text-white font-semibold rounded-md"
                                                 style="background-color:
                                                         {% if registration.event.category == 'conference' %} #4CFFCC
                                                         {% elif registration.event.category == 'festival' %} #FF5733
                                                         {% elif registration.event.category == 'workshop' %} #FF8C00
                                                         {% elif registration.event.category == 'sport' %} #1E90FF
                                                         {% elif registration.event.category == 'social' %} #FFD700
                                                         {% elif registration.event.category == 'exhibition' %} #8A2BE2
                                                         {% elif registration.event.category == 'concert' %} #FF1493
                                                         {% elif registration.event.category == 'online' %} #32CD32
                                                         {% elif registration.event.category == 'local' %} #FF6347
                                                         {% else %} gray {% endif %}
                                                         ">
                                                {{ registration.event.get_category_display }}
                                            </div>
                                        </div>
                                    {% endif %}

                                    <div class="p-4 flex-1 flex flex-col">
                                        <h5 class="font-bold text-lg line-clamp-2 h-[48px] flex-shrink-0">{{ registration.event.name }}</h5>
                                        <p class="text-gray-700 text-sm mt-2 line-clamp-3 flex-grow">{{ registration.event.description }}</p>
                                        {% if registration.event.eventaddress_set.exists %}
                                            <p class="text-gray-600 text-sm mt-1">
                                                Adresa: {{ registration.event.eventaddress_set.first }}
                                            </p>
                                        {% else %}
                                            <p class="text-gray-600 text-sm mt-1">Adresa není k dispozici.</p>
                                        {% endif %}
                                        <p class="text-gray-700 text-sm mt-2 line-clamp-4">{{ registration.event.day }} {{ registration.event.time }}</p>
                                    </div>

                                    <div class="p-4 bg-gray-100 mt-auto w-full">
                                        <a href="{% url 'event_detail' registration.event.id %}"
                                           class="text-indigo-500 font-medium block text-center">Detail události</a>
                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}
                            <div class="col-span-1 lg:col-span-4 text-center">
                                <div class="bg-white p-6 rounded-lg shadow-md">
                                    <h5 class="text-gray-700">Není registrován na žádném eventu</h5>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        {% endfor %}
        {% if not user.groups.all %}
            <div class="container mx-auto mt-5">
                <div class="text-center my-6">
                    <h2 class="text-2xl font-semibold">Moje události</h2>
                </div>
                <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
                    {% if registered_events %}
                        {% for registration in registered_events %}
                            <div class="bg-white rounded-lg shadow-md overflow-hidden flex flex-col h-auto">
                                {% if registration.event.image %}
                                    <div class="relative w-full h-48">
                                        <img src="{{ registration.event.image.url }}" class="w-full h-full object-cover"
                                             alt="{{ registration.event.name }}">
                                        <div class="absolute top-2 left-2 px-3 py-1 text-white font-semibold rounded-md"
                                             style="background-color:
                                                     {% if registration.event.category == 'conference' %} #4CFFCC
                                                     {% elif registration.event.category == 'festival' %} #FF5733
                                                     {% elif registration.event.category == 'workshop' %} #FF8C00
                                                     {% elif registration.event.category == 'sport' %} #1E90FF
                                                     {% elif registration.event.category == 'social' %} #FFD700
                                                     {% elif registration.event.category == 'exhibition' %} #8A2BE2
                                                     {% elif registration.event.category == 'concert' %} #FF1493
                                                     {% elif registration.event.category == 'online' %} #32CD32
                                                     {% elif registration.event.category == 'local' %} #FF6347
                                                     {% else %} gray {% endif %}
                                                     ">
                                            {{ registration.event.get_category_display }}
                                        </div>
                                    </div>
                                {% else %}
                                    <div class="relative w-full h-48 bg-gray-200">
                                        <img src="{% static 'img/static.jpg' %}" class="w-full h-full object-cover"
                                             alt="{{ registration.event.name }}">
                                        <div class="absolute top-2 left-2 px-3 py-1 text-white font-semibold rounded-md"
                                             style="background-color:
                                                     {% if registration.event.category == 'conference' %} #4CFFCC
                                                     {% elif registration.event.category == 'festival' %} #FF5733
                                                     {% elif registration.event.category == 'workshop' %} #FF8C00
                                                     {% elif registration.event.category == 'sport' %} #1E90FF
                                                     {% elif registration.event.category == 'social' %} #FFD700
                                                     {% elif registration.event.category == 'exhibition' %} #8A2BE2
                                                     {% elif registration.event.category == 'concert' %} #FF1493
                                                     {% elif registration.event.category == 'online' %} #32CD32
                                                     {% elif registration.event.category == 'local' %} #FF6347
                                                     {% else %} gray {% endif %}
                                                     ">
                                            {{ registration.event.get_category_display }}
                                        </div>
                                    </div>
                                {% endif %}

                                <div class="p-4 flex-1 flex flex-col">
                                    <h5 class="font-bold text-lg line-clamp-2 h-[48px] flex-shrink-0">{{ registration.event.name }}</h5>
                                    <p class="text-gray-700 text-sm mt-2 line-clamp-3 flex-grow">{{ registration.event.description }}</p>
                                    {% if registration.event.eventaddress_set.exists %}
                                        <p class="text-gray-600 text-sm mt-1">
                                            Adresa: {{ registration.event.eventaddress_set.first }}
                                        </p>
                                    {% else %}
                                        <p class="text-gray-600 text-sm mt-1">Adresa není k dispozici.</p>
                                    {% endif %}
                                    <p class="text-gray-700 text-sm mt-2 line-clamp-4">{{ registration.event.day }} {{ registration.event.time }}</p>
                                </div>

                                <div class="p-4 bg-gray-100 mt-auto w-full">
                                    <a href="{% url 'event_detail' registration.event.id %}"
                                       class="text-indigo-500 font-medium block text-center">Detail události</a>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <div class="col-span-1 lg:col-span-4 text-center">
                            <div class="bg-white p-6 rounded-lg shadow-md">
                                <h5 class="text-gray-700">Není registrován na žádném eventu</h5>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endif %}
    {% endif %}

    <div class="container mx-auto mt-5">
        <div class="text-center my-6">
            <h2 class="text-2xl font-semibold">Nadcházející události</h2>
        </div>
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
            {% if upcoming_events %}
                {% with upcoming_events|slice:":4" as limited_events %}
                    {% for event in limited_events %}
                        <div class="bg-white rounded-lg shadow-md overflow-hidden flex flex-col h-auto">
                            {% if event.image %}
                                <div class="relative w-full h-48">
                                    <img src="{{ event.image.url }}" class="w-full h-full object-cover"
                                         alt="{{ event.name }}">
                                    <div class="absolute top-2 left-2 px-3 py-1 text-white font-semibold rounded-md"
                                         style="background-color:
                                                 {% if event.category == 'conference' %} #4CFFCC
                                                 {% elif event.category == 'festival' %} #FF5733
                                                 {% elif event.category == 'workshop' %} #FF8C00
                                                 {% elif event.category == 'sport' %} #1E90FF
                                                 {% elif event.category == 'social' %} #FFD700
                                                 {% elif event.category == 'exhibition' %} #8A2BE2
                                                 {% elif event.category == 'concert' %} #FF1493
                                                 {% elif event.category == 'online' %} #32CD32
                                                 {% elif event.category == 'local' %} #FF6347
                                                 {% else %} gray {% endif %}
                                                 ">
                                        {{ event.get_category_display }}
                                    </div>
                                </div>
                            {% else %}
                                <div class="relative w-full h-48 bg-gray-200">
                                    <img src="{% static 'img/static.jpg' %}" class="w-full h-full object-cover"
                                         alt="{{ event.name }}">
                                    <div class="absolute top-2 left-2 px-3 py-1 text-white font-semibold rounded-md"
                                         style="background-color:
                                                 {% if event.category == 'conference' %} #4CFFCC
                                                 {% elif event.category == 'festival' %} #FF5733
                                                 {% elif event.category == 'workshop' %} #FF8C00
                                                 {% elif event.category == 'sport' %} #1E90FF
                                                 {% elif event.category == 'social' %} #FFD700
                                                 {% elif event.category == 'exhibition' %} #8A2BE2
                                                 {% elif event.category == 'concert' %} #FF1493
                                                 {% elif event.category == 'online' %} #32CD32
                                                 {% elif event.category == 'local' %} #FF6347
                                                 {% else %} gray {% endif %}
                                                 ">
                                        {{ event.get_category_display }}
                                    </div>
                                </div>
                            {% endif %}
                            <div class="p-4 flex-1 flex flex-col">
                                <h5 class="font-bold text-lg">{{ event.name }}</h5>
                                <p class="text-gray-700 text-sm mt-2 line-clamp-4">{{ event.description }}</p>
                                {% if event.eventaddress_set.exists %}
                                    <p class="text-gray-600 text-sm mt-1">
                                        Adresa: {{ event.eventaddress_set.first }}
                                    </p>
                                {% else %}
                                    <p class="text-gray-600 text-sm mt-1">Adresa není k dispozici.</p>
                                {% endif %}
                                <p class="text-gray-700 text-sm mt-2 line-clamp-4">{{ event.day }} {{ event.time }}</p>
                            </div>
                            <div class="p-4 bg-gray-100 mt-auto w-full">
                                <a href="{% url 'event_detail' event.id %}"
                                   class="text-indigo-500 font-medium block text-center">Detail události</a>
                            </div>
                        </div>

                    {% endfor %}
                {% endwith %}
            {% else %}
                <div class="col-span-1 lg:col-span-4 text-center">
                    <div class="bg-white p-6 rounded-lg shadow-md">
                        <h5 class="text-gray-700">Není žádná nadcházející událost</h5>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>

    <div class="max-w-8xl mx-auto mt-8 mb-8 bg-white shadow-xl rounded-lg p-6 pb-20">
        <h1 class="text-3xl font-semibold text-center mb-6">Mapa Eventů</h1>

        <div class="relative w-full max-w-7xl mx-auto bg-white rounded-xl shadow-lg overflow-hidden border border-gray-200">
            <div id="map" class="w-full h-[800px] rounded-xl shadow-md" style="z-index: 1"></div>
        </div>

        <script>
            document.addEventListener('DOMContentLoaded', function () {
                var map = L.map('map').setView([49.774, 15.606], 8);

                L.tileLayer('https://{s}.basemaps.cartocdn.com/rastertiles/voyager/{z}/{x}/{y}{r}.png', {
                    attribution: '© OpenStreetMap contributors'
                }).addTo(map);

                const events = JSON.parse('{{ events_json|escapejs }}');

                if (events.length > 0) {
                    events.forEach(function (event) {
                        var popupContent = `
                <div class="popup-container p-4 bg-white rounded-lg shadow-lg max-w-[300px]">
    <h3 class="font-bold text-xl text-gray-800 mb-2">${event.name}</h3>
    <p class="text-sm text-gray-600 mb-1"><b>Datum:</b> ${event.day}</p>
    <p class="text-sm text-gray-600 mb-1"><b>Čas:</b> ${event.time || 'Neuveden'}</p>
    <div class="text-sm text-gray-600 mb-1">
        <b>Kategorie:</b> 
        <span class="inline-block py-1 px-3 text-white rounded-full" >
            ${event.category.charAt(0).toUpperCase() + event.category.slice(1)}
        </span>
    </div>
    <p class="text-sm text-gray-700 mt-2">${event.description}</p>
    ${event.image ? `<img src="${event.image}" alt="${event.name}" class="mt-4 max-w-[200px] rounded-md">` : ''}
</div>
            `;

                        let markerColor = '';
                        switch (event.category) {
                            case 'conference':
                                markerColor = '#4CFFCC';
                                break;
                            case 'festival':
                                markerColor = '#FF5733';
                                break;
                            case 'workshop':
                                markerColor = '#FF8C00';
                                break;
                            case 'sport':
                                markerColor = '#1E90FF';
                                break;
                            case 'social':
                                markerColor = '#FFD700';
                                break;
                            case 'exhibition':
                                markerColor = '#8A2BE2';
                                break;
                            case 'concert':
                                markerColor = '#FF1493';
                                break;
                            case 'online':
                                markerColor = '#32CD32';
                                break;
                            case 'local':
                                markerColor = '#FF6347';
                                break;
                            default:
                                markerColor = 'gray'; // výchozí barva
                        }

                        var customIconHtml = `
                <div>
                    <i class="fa-solid fa-location-dot" style="color: ${markerColor}; font-size: 30px; text-shadow: 1px 1px 5px black;"></i>

                </div>
            `;

                        var customIcon = L.divIcon({
                            className: 'custom-icon',
                            html: customIconHtml,
                            iconSize: [40, 40],
                            iconAnchor: [20, 40],
                            popupAnchor: [0, -40]
                        });

                        // Přidání markeru na mapu
                        if (event.latitude && event.longitude) {
                            L.marker([event.latitude, event.longitude], {icon: customIcon})
                                .addTo(map)
                                .bindPopup(popupContent);
                        } else {
                            console.warn("Chybí souřadnice pro event:", event);
                        }
                    });
                } else {
                    console.log("Žádné eventy k zobrazení.");
                }

                var attributionControl = document.querySelector(".leaflet-control-attribution");
                if (attributionControl) {
                    attributionControl.style.display = "none";
                }
            });
        </script>


    </div>
    <style>
        .popup-container {
            font-family: 'Inter', sans-serif;
            color: #333;
            padding: 10px;
            max-width: 250px;
            line-height: 1.5;
        }

        .popup-container h3 {
            font-size: 1.25rem;
            color: #1a202c;
        }

        .popup-container p {
            margin: 5px 0;
        }

        .popup-container img {
            display: block;
            margin: 0 auto;
            border: 1px solid #ccc;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }
    </style>

{% endblock %}
