{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div>
        <div class="welcome-section py-5">
            <div class="welcome-section-overlay">
                <div class="row justify-content-center">
                    <div class="col-lg-8 text-center welcome-card">
                        <h1 class="welcome-heading mb-4">Vítej na <span class="eventify-text">eventify</span></h1>
                        <p class="welcome-description lead">
                            Vítejte na Eventify - vašem průvodci světem událostí a zážitků! Jsme zde, abychom vám
                            přinesli ten nejaktuálnější přehled nadcházejících událostí ve vašem okolí, od koncertů a
                            festivalů po sportovní akce a kulturní akce.
                            <br/>
                            Náš cíl je propojit lidi s těmi nejzajímavějšími událostmi ve vašem regionu a umožnit vám
                            objevovat nové zážitky, setkávat se s lidmi se stejnými zájmy a tvořit nezapomenutelné
                            vzpomínky.
                            <br/>
                            Procházejte naší stránkou, objevujte nové události, registrujte se k odběru novinek a nechte
                            se unést do světa zábavy, kultury a dobrodružství s Eventify!
                        </p>
                    </div>
                </div>
            </div>
            <div class="gradient-overlay"></div>
        </div>
    </div>
{% endblock %}